@import url('https://fonts.googleapis.com/css?family=Roboto');

* {
  font-family: 'Roboto';
}

.calculator {
  background-color: #878787;
  bottom: 0;
  border-radius: 5px;
  box-shadow: 10px 10px 100px grey;
  height: 320px;
  left: 0;
  margin: auto;
  position: absolute;
  right: 0;
  top:0;
  width: 234px;
}

.calculator-outputview {
  color: white;
}

  .calculator-outputview-output{
    font-size: 3em;
    padding: .5em .2em 0 0;
    text-align: right;
  }

.calculator-keypad {
  display: flex;
  flex-direction: row;
}

  .calculator-keypad-inputkeys {
    flex: .75;
  }

  .calculator-keypad-functionkeys {
    background-color: #F38026;
    flex: .25;
    border-bottom-right-radius: 5px;

  }

    .calculator-keypad-functionkeys-functionkey,
    .calculator-keypad-inputkeys-adjustkeys-adjustkey,
    .calculator-keypad-inputkeys-numberkeys-numberkey {
      padding: .9em 0 .9em 0;
    }

    .calculator-keypad-functionkeys-functionkey {
      color: white;
      text-align: center;
      border: 1px solid grey;
    }



    .calculator-keypad-functionkeys :last-child {
      border-bottom-right-radius: 5px;
    }


  .calculator-keypad-inputkeys-adjustkeys {
    background-color: #CDCDCD;
    display: flex;
    flex-direction: row;
  }

    .calculator-keypad-inputkeys-adjustkeys-adjustkey {
      text-align: center;
      flex: 1 0 30%;
      border: 1px solid grey;
    }

  .calculator-keypad-inputkeys-numberkeys {
    background-color: #D9D9D9;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

    .calculator-keypad-inputkeys-numberkeys-numberkey {
      text-align: center;
      flex: 1 0 30%;
      border: 1px solid grey;
    }

    .calculator-keypad-inputkeys-numberkeys :last-child {
      flex: 0 0 32%;
    }